@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

:root {
  --rows: 10;
  --columns: 10;
}

body {
  background-image: url(turku_mirrored_LQ.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-family: "VT323", monospace;
}

.title {
  font-size: 200px;
  color: #eeeeee;
  text-align: center;
}

.display {
  font-size: 56px;
  background-color: #000000ac;
  color: #eeeeee;
  text-align: center;
  width: 350px;
  height: 200px;
  margin-bottom: 50px;
}

.form-div {
  display: block;
  position: fixed;
  padding-top: 140px;
  z-index: 300;
  left: 0px;
  top: 50px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #00000040;
  justify-items: center;
  align-items: center;
}

form {
  background-color: #f0eeed;
  margin-left: 340px;
  padding: 20px;
  border: 1px solid #f0eeed;
  width: 500px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}

input {
  border-radius: 1rem;
  background-color: #f0eeed;
  border: 1px solid;
  height: 2rem;
  padding: 0 1rem;
  width: min(100%, 465.5px);
}

#submit-btn {
  border: 1px solid;
  height: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1.25rem;
  background-color: #609ea2;
  color: #f0eeed;
  font-weight: bold;
  cursor: pointer;
}

#battlefields-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  width: 100%;
}

#battlefields-container > div {
  display: flex;
  width: 350px;
  height: 350px;
}

#battlefields-container > div:first-child {
  justify-content: end;
}

#battlefields-container > * > div {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  width: 100%;
  height: 100%;
}

.cell {
  border: 3px solid #00000000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cell::before,
.cell::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #ffffff80;
}

.cell:hover {
  background-color: #ff7fb0;
}

.available:hover {
  background-color: #7fffd4;
}

.shot {
  position: relative;
  background-color: #000000;
  width: 25%;
  height: 25%;
  z-index: 200;
  cursor: default;
}

.ship:not(.comp)::before,
.ship:not(.comp)::after {
  background-color: #7fffd4;
  z-index: 100;
  cursor: default;
}

.ship.hit::before,
.ship.hit::after {
  background-color: #ff7fb0;
  cursor: default;
}
