@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

:root {
  --rows: 10;
  --columns: 10;
}

body {
  background-image: url(turku_mirrored_LQ.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-family: "VT323", monospace;
}

.title {
  font-size: 200px;
  color: #eeeeee;
  text-align: center;
}

.display {
  font-size: 56px;
  background-color: #000000ac;
  color: #eeeeee;
  text-align: center;
  width: 350px;
  height: 200px;
  margin-bottom: 50px;
}

#battlefields-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  width: 100%;
}

#battlefields-container > div {
  display: flex;
  width: 350px;
  height: 350px;
}

#battlefields-container > div:first-child {
  justify-content: end;
}

#battlefields-container > * > div {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  width: 100%;
  height: 100%;
}

.cell {
  border: 3px solid #00000000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell::before,
.cell::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #ffffff80;
}

.cell:hover {
  background-color: #ff7fb0;
}

.available:hover {
  background-color: #7fffd4;
}

.shot {
  position: relative;
  background-color: #000000;
  width: 25%;
  height: 25%;
  z-index: 200;
}

.ship:not(.comp)::before,
.ship:not(.comp)::after {
  background-color: #7fffd4;
  z-index: 100;
}

.ship.hit::before,
.ship.hit::after {
  background-color: #ff7fb0;
}
