@import url("https://fonts.googleapis.com/css2?family=Tektur&display=swap");

:root {
  --rows: 10;
  --columns: 10;
}

body {
  background-image: url(turku_mirrored_LQ.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-family: "Tektur", cursive;
  padding-bottom: 100px;
}

.title {
  font-size: clamp(100px, 15vw, 160px);
  color: #eeeeee;
  text-align: center;
}

.display {
  font-size: 24px;
  background-color: #000000ac;
  color: #eeeeee;
  text-align: center;
  width: 90vw;
  max-width: 540px;
  height: 200px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  justify-content: center;
  align-items: center;
}

.score {
  font-size: 96px;
}

.form-div,
.restart-div {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 300;
  padding-top: 235px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000ad;
  justify-items: center;
  align-items: center;
}

.restart-div {
  margin-top: 45vh;
  padding-top: 35px;
  top: 410 px;
  height: 75px;
}

form {
  background-color: #ddd;
  border: 2px solid #fff;
  padding: 20px;
  width: 400px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
}

input {
  border-radius: 1rem;
  background-color: #ccc;
  border: 1px solid;
  height: 2rem;
  padding: 0 1rem;
  width: min(70%, 250px);
  text-align: center;
}

#submit-btn,
#restart-btn {
  border: 1px solid;
  height: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1.25rem;
  background-color: #7fffd4;
  color: #000;
  cursor: pointer;
}

#battlefields-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr min-content;
  justify-content: center;
  align-items: center;
  gap: 0 50px;
  width: 100%;
}

.board-title {
  color: #eeeeee;
  text-align: center;
  font-size: 36px;
}

.battlefield-container {
  display: flex;
  width: 350px;
  height: 350px;
  border: 10px solid #ffffff00;
}

.battlefield-container.active {
  border: 10px solid #f1ff97;
}

#battlefields-container > div:first-child {
  justify-content: end;
}

#battlefields-container > * > div {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  width: 100%;
  height: 100%;
}

.cell {
  border: 3px solid #00000000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cell::before,
.cell::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #ffffff80;
}
/*
.cell:hover {
  background-color: #ff7fb0;
}

.available:hover {
  background-color: #7fffd4;
}
*/
.shot {
  position: relative;
  background-color: #000000;
  width: 25%;
  height: 25%;
  z-index: 200;
  cursor: default;
}

.ship:not(.comp)::before,
.ship:not(.comp)::after {
  background-color: #7fffd4;
  z-index: 100;
  cursor: default;
}

.ship.hit::before,
.ship.hit::after {
  background-color: #ff7fb0;
  cursor: default;
}

@media (max-width: 900px) {
  #battlefields-container {
    grid-template-rows: 1fr min-content 1fr min-content;
    gap: 10px 0;
  }
}

@media (min-width: 500px) and (max-width: 700px) {
  .display {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 15vw;
  }
}

@media (max-width: 500px) {
  .display {
    font-size: 16px;
  }
}

@media (max-width: 380px) {
  .battlefield-container {
    width: 280px;
    height: 280px;
    border: 8px solid #ffffff00;
  }
}
